<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suvo.quickchef">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuListActivity" />
        <activity
            android:name=".activity.MenuListActivityUp"
            android:label="@string/title_activity_menu_list_up"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RecipeDetails"
            android:label="@string/title_activity_recipe_details"
            android:parentActivityName=".activity.MenuListActivityUp"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suvo.quickchef.activity.MenuListActivityUp" />
        </activity>


        <!--meta tags for sugar ORM-->
        <meta-data android:name="DATABASE" android:value="quickcheff_recipe.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.suvo.quickchef" />


    </application>

</manifest>